

<launch>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find youbot_navigation_global)/map/youbot_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


  <!--- Run AMCL -->
  <include file="$(find youbot_navigation_global)/launch/amcl.launch" />

<!--continue working on the bringup navigation launch folders -->
<!--- Run Move Base -->
  <include file="$(find youbot_navigation_global)/launch/move_base_global.launch" />

      <!--  <include file="$(find youbot_navigation_local)/launch/move_base_local.launch" />-->

</launch>
